<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
  
        <customErrors mode="Off"/>
   
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
    
  </system.web>


<!--
  Declaring Web Service Key Elearning 1
  -->
    <appSettings>
      <add key="WebServiceKey" value="08bf4ba7fc088768fd67adf7463f6" />
    
<add key="ClientID" value="XBBong"/>
    <add key="ClientSecret" value="L0sDvCtIvyJR9/40hXFrkkq4vrF2Ep4qrT7L3nYWwCU="/>
   
  </appSettings>
</configuration>
